version: "3"
services:
  postgres:
    image: postgres:alpine
    container_name: tech-challenge-db
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "postgres"
    volumes:
      - ./create_tables.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - tech-challenge-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 20

  tech-challenge-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tech-challenge-app
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASS: "admin"
      POSTGRES_DB: "postgres"
      POSTGRES_HOST: "postgres:5432"
      ENVIRONMENT: "dev"
    ports:
      - "8000:8000"
    networks:
      - tech-challenge-network
    depends_on:
      - postgres

networks:
  tech-challenge-network:
    external: false

volumes:
  pgdata: